.git
.gitignore
.github
.pytest_cache
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.mypy_cache
.ruff_cache
.venv
venv
.env
.env.local
.coverage
htmlcov
dist
build
.idea
.vscode
tests
ci
README.md
requirements-dev.txt
